<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frzterr">

        <!-- LOGIN SCREEN -->
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Frzterr"
            android:exported="false" />

        <!-- RESET PASSWORD - STEP 1 (Input Email) -->
        <activity
            android:name=".ui.auth.AuthResetEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Frzterr"
            android:exported="false" />

        <!-- RESET PASSWORD - STEP 2 (Verify OTP + New Password) -->
        <activity
            android:name=".ui.auth.AuthVerifyOtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Frzterr"
            android:exported="false" />


        <!-- CROP AVATAR -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- CREATE POST -->
        <activity
            android:name=".ui.create.CreatePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Frzterr"
            android:exported="false" />

        <!-- MAIN APP -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Frzterr.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
